<div class="sign-up-component pt-4">
    <div class="rounded mx-auto d-block">
      <img src="../../../assets/svg/signup-logo.svg" class="rounded mx-auto d-block" alt="Responsive image">
    </div>

    <div class="signup-texts px-4 py-2">
        <div class="signup">Sign up</div>
        <div class="per-info">Please enter your personal info</div>
    </div>
    
    <form class="login-form text-center border-light px-4 py-3 py-10" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
      <div class="login-part">
        <input type="text" formControlName="firstName" id="defaultfirstName" mdbInput class="form-control mb-3"
          placeholder="First Name">

        <input type="text" formControlName="lastName" id="defaultlastName" mdbInput class="form-control mb-3"
          placeholder="Last Name">

        <input type="text" formControlName="mobile" id="defaultmobile" mdbInput class="form-control mb-3"
          placeholder="E-mail">

        <input type="text" formControlName="email" id="defaultemail" mdbInput class="form-control mb-3"
          placeholder="Mobile">
      
        <div class="pass-demo">
            <input [type]="passwordShow ? 'text' : 'password'" formControlName="password" id="defaultpassword" mdbInput
            class="form-control mb-3" placeholder="Password">
              <i [ngClass]="passwordShow ? 'fa fa-eye eye-icon' : 'fa fa-eye-slash eye-icon password-hidden'" aria-hidden="true"  (click)="handlePassShow()"></i>
          </div>

          <div class="pass-demo">
            <input [type]="confirmPasswordShow ? 'text' : 'password'" formControlName="confirmPassword" id="defaultconfirmPassword" mdbInput
            class="form-control mb-3" placeholder="Confirm Password"> 
             <i [ngClass]="confirmPasswordShow ? 'fa fa-eye eye-icon' : 'fa fa-eye-slash eye-icon password-hidden'" aria-hidden="true" (click)="handleConfirmPassShow()"></i>
          </div>
      </div>
    
      <div class="button-part">
        <button mdbBtn type="button" class="col-12 z-depth-0 my-1 py-3 waves-effect sign-up" mdbWavesEffect>Sign up</button>
      </div>
    </form>
</div>